// MET Colors
// See http://www.color-blindness.com/color-name-hue/
$raw-siena:              #D97A4C;    // Links
$green-house:            #4A6437;    // Navbar background
$shuttle-grey:           #626A76;    // Borders
$jumbo:                  #93938F;    // Text
$charcoal:               #444;       // Headings
$checkbox-color:         $raw-siena; // Checkbox background (tick color is white)

// Bootstrap Grays
$gray:                   $jumbo;
$gray-base:              #000 !default;
$gray-darker:            lighten($gray-base, 13.5%) !default; // #222
$gray-dark:              darken($gray, 20%) !default;
$gray-light:             lighten($gray, 20%) !default;
$gray-lighter:           lighten($gray-base, 93.5%) !default; // #eee

// Bootstrap Brand Colors
$brand-primary:         $raw-siena;
$brand-success:         #4CAF50;
$brand-info:            #9C27B0;
$brand-warning:         $raw-siena;
$brand-danger:          #e51c23;

// MDL Overrides

// Kobo hard-codes $cool-blue, $cool-gray and $cool-green as a color in many places,
// so redefine the variable rather than change all the references
$black: #363636;
$cool-blue: $raw-siena;
$cool-gray: $jumbo;
$cool-green: $raw-siena;

$layout-text-color: $jumbo;
$layout-nav-color: $gray-lighter;
$nav-menu-item-bg: $green-house;
$nav-menu-item-bg-active: $green-house;
$layout-drawer-nav-link-color: #7d8a93;
$layout-header-bg-color: $green-house;
$layout-desktop-header-height: 55px;

$color-primary: $brand-primary;
$color-accent: $brand-primary;
$color-primary-dark: $green-house;
$preferred_font: "Roboto", "Helvetica", "Arial", sans-serif;
$performance_font: "Roboto", "Helvetica", "Arial", sans-serif;

$heading-text-color: $charcoal;
